.about {
  max-width: 900px;
  width: 100%;
  margin: 50px auto;
  display: flex;
  align-items: center;
}
@media (max-width: 940px) {
  .about {
    max-width: calc(100% - 40px);
  }
}
@media (max-width: 800px) {
  .about {
    max-width: 90%;
    flex-direction: column;
  }
}
.about div {
  border: 3px solid #391bfe;
  background-color: #fff;
}
.about .photo {
  height: 70vh;
  width: 60%;
  background-size: cover;
  background-position: center;
}
@media (max-width: 940px) {
  .about .photo {
    height: 50vh;
  }
}
@media (max-width: 800px) {
  .about .photo {
    width: calc(100% - 6px);
    background-position: top;
  }
}
.about .text {
  width: 60%;
  z-index: 1;
  padding: 12px 25px;
  margin-left: -5%;
}
@media (max-width: 800px) {
  .about .text {
    width: unset;
    margin: -3px auto 0;
  }
}
.about .icons a:nth-of-type(2) {
  margin-left: 8px;
}