{% extends 'base.html' %}

{% import "macros/pub_dates.html" as pub_dates %}
{% import "macros/methodology.html" as methodology %}
{% import "macros/link.html" as link %}

{% block content %}
<div class="container">
  {% for project in work.projects %}
  <div class="project">
    <div class="vis">
      <a href="{{ project.url }}">
      {% if project.image %}
      <div class="img" style="background-image: url({% static 'assets/' + project.image %})"></div>
      <!-- <img src="{% static 'assets/' + project.image %}" /> -->
      {% elif project.video %}
      <video height="100%" autoplay playsinline muted loop><source src="{% static 'assets/' + project.video %}" type="video/mp4"></video>
      {% else %}
      N/A
      {% endif %}
      </a>
    </div>
    <div class="info">
      <div class="bar">
        <h2>{{ project.title }}</h2>
        <a href="{{ project.url }}">{{ link.html() }}</a>
      </div>
      {% for p in project.description %}
        <p>{{ p }}</p>
      {% endfor %}
      {% if project.more %}
      <a class="more" href="{{ project.more }}">Learn more →</a>
      {% else %}
      <p class="fake"></p>
      {% endif %}
    </div>
  </div>
  {% endfor %}
  {% if work.projects | length % 3 !== 0 %}
    {% set remainder = work.projects | length % 3 %}
    {% for i in range(0, 3 - remainder) %}
    <div class="project empty"></div>
    {% endfor %}
  {% endif %}
</div>
{% endblock content %}
