<!DOCTYPE html>
<html lang="{% block lang %}en{% endblock lang %}">
<head>
  {% block meta -%}
  {% include 'includes/meta.html' %}
  {% endblock meta -%}

  {% block styles %}
  <link rel="stylesheet" href="{% static 'styles/main.scss' %}">
  {% endblock styles %}

  {% block extra_styles %}{% endblock extra_styles %}

  {% block scripts -%}
  {% script 'app' %}
  {% endblock scripts -%}

  {% block extra_scripts %}{% endblock extra_scripts %}
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35670323-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <div class="nav-container">
    <div class="nav">
      <div class="name">
        <a href="/">caseymmiller</a>
      </div>
      <div class="links">
        <a href="/">🏠</a>
        <a href="/resume">‍📄</a>
        <a href="/about">🧑🏼‍💼</a>
      </div>
    </div>
  </div>

  {% block content %}{% endblock content %}

</body>
</html>
